<footer
    class="w-full flex sm:flex-row flex-col justify-evenly items-center pb-10"
>
    <a
        href="https://jordimartinez.netlify.app"
        class="hover:scale-105 transition ease-in-out">Jordi Martinez</a
    >

    <div class="flex gap-x-4">
        <a
            href="https://github.com/jordimartinezjimenez"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:scale-110 transition ease-in-out"
            ><img src="/github.svg" alt="GitHub logo" class="size-[2rem]" />
        </a>
        <a
            href="https://www.linkedin.com/in/jordi-martinez-jimenez"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:scale-110 transition ease-in-out"
            ><img src="/linkedin.svg" alt="Linkedin logo" class="size-[2rem]" />
        </a>
    </div>
</footer>
