---
interface Props {
    maxGhosts: number;
}

const { maxGhosts } = Astro.props;
---

<div class="flex items-center gap-x-2">
    <span id="score"
        >👻 Ghosts spotted: <span class="font-bold">0 of {maxGhosts}</span> 👻</span
    >
    <button id="restart" class="hover:scale-110 transition">
        <img src="/restart.svg" alt="Restart button">
    </button>
</div>
