---
interface Props {
    maxGhosts: number;
}

const { maxGhosts } = Astro.props;
---

<div class="flex items-center gap-x-2">
    <span id="score"
        >👻 Ghosts spotted: <span class="font-bold">0 of {maxGhosts}</span> 👻</span
    >
    <button id="restart">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            x-bind:width="size"
            x-bind:height="size"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            x-bind:stroke-width="stroke"
            stroke-linecap="round"
            stroke-linejoin="round"
            width="24"
            height="24"
            stroke-width="2"
        >
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
        </svg>
    </button>
</div>
